<nb-card>
    <nb-card-header>
        <h4>{{currentPerson.firstName}} {{currentPerson.lastName}}</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-card status="success" *ngIf="currentPerson.realMovies.length > 0">
            <nb-card-header>
                <h5>Réalisateur</h5>
            </nb-card-header>
            <nb-card-body>
                <div *ngFor="let item of currentPerson.realMovies">
                    <p><a [routerLink]="['/detail/'+item.id]">{{item.title}}</a></p>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card status="success" *ngIf="currentPerson.scenMovies.length > 0">
            <nb-card-header>
                <h5>Scénariste</h5>
            </nb-card-header>
            <nb-card-body>
                <div *ngFor="let item of currentPerson.scenMovies">
                    <p><a [routerLink]="['/detail/'+item.id]">{{item.title}}</a></p>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card status="success" *ngIf="currentPerson.actAs.length > 0">
            <nb-card-header>
                <h5>Rôles</h5>
            </nb-card-header>
            <nb-card-body>
                <div *ngFor="let item of currentPerson.actAs">
                    <p><label style="font-weight: bold;">{{item.role}}</label> ( <a [routerLink]="['/detail/'+item.movieID]">{{item.movieTitle}}</a> )</p>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>
