<h4>Bienvenue sur la première réalisation angular du groupe Full Stack .NET</h4>
<p>Les technologies employées pour développer cette application sont : </p>
    <ul>
        <li style="font-weight: bolder;">C#</li>
        <li style="font-weight: bolder;">Web API Core
            <ul>
                <li>ADO</li>
                <li>Repository pattern</li>
                <li>JwtToken</li>
            </ul>
        </li>
        <li style="font-weight: bolder;">Angular</li>
        <li style="font-weight: bolder;">Le framework visuel Nebular</li>
    </ul>
